.accountDialog .g-recaptcha {
    margin: 40px 20px;
}

.accountDialog .createAccount {
    overflow: hidden;
    height: 0px;
}

.accountDialog label {
	padding-left: 5px;
}

.accountDialog input, .accountDialog textarea {
	display: block;
    background: #532059;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-left:  -5px;
}

.accountDialog .g-recaptcha {
    margin: 0px 40px;
}