/*
	!!! COLOR GUIDE !!!
	
	major-component-color: #35459c
	major-component-border: #999
	sub-component-color: #442e8f
	text-highlight: #fff
	text-value: #999		
	menu-color: #84449a
*/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff"), url("../fonts/roboto-light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold.ttf") format("truetype"); }

body {
	font-family: Roboto, arial;
	min-width: 1200px;
	min-height: 800px;
	background-color: #642265;
	overflow: hidden;
	user-select: none;
}

.button-help {
	color: white;
	background: transparent;
	border: 1px solid white;
	border-radius: 10px;
	padding: 3px 6px;
	font-size: 0.6em;
	vertical-align: middle;
}

header {
	display: block;
	position: fixed;
	background: inherit;
	padding: 5px;
	margin-bottom: 20px;
	top: 0px;
	width: 100%;
	z-index: 10;
}

header .logo {
	margin: 40px 10px;
	vertical-align: middle;
}

header .title {
	display: block;
	position: fixed;
	top: 12px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	width: 420px;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	color: #fff;
	z-index: -1;
}

header .title .sub-title {
	display: block;
	margin: 10px 0px;
	font-size: 0.9em;
	text-transform: capitalize;
	white-space: nowrap;
}

.drop-shadow {
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: #180919;
    filter: blur(10px);
    z-index: -1;
}

.conf-button {
	display: inline-block;
	position: relative;
}

.conf-button .drop-shadow {
    left: -2px !important;
    top: -2px !important;
    width: calc(100% + 2px) !important;
    height: calc(100% + 2px) !important;
    border: 0px !important;
    border-radius: 0px !important;
}

.highlight {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: yellow;
	opacity: 0.6;
	z-index: 5;
}

.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: grey;
	opacity: 0.6;
	z-index: 5;
}

select {
	background-color: #84449a;
	color: #fff;
}

.button-main, .button-secondary {
	background-color: #642265;
	color: #fff;
	border: 1px solid transparent;
	cursor: pointer;
	font-size: 1em;
}

.button-secondary {
	background-color: grey;
}

.item-table {
	width: 100%;
	color: white;
}

.item-table thead tr {
	background-color: #642265;
	border-radius: 6px;
}

.item-table th {
	text-align: left;
	font-weight: normal;
	border-left: 1px solid white;
}

.item-table th, .item-table td {
	padding: 0px 10px;
}

.item-table th:first-child {
	border: 0px;
}

.item-table td:last-child {
	text-align: center;
}

.dialog {
	display: none;
	position: absolute;
    width: 600px;
    top: 220px;
    left: 350px;
    z-index: 10;
}

.dialog .content-body {
	background: #642265;
    border: 6px solid white;
    border-radius: 8px;
    width: 600px;
}

.dialog .drop-shadow {
    border-radius: 6px;
    border: 6px solid transparent;
    left: -2px;
    top: -4px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}

.dialog label {
    display: block;
    font-size: 1em;
    color: white;
    margin: 20px 40px;
    font-weight: 300;
}

.dialog label input[type=text] {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
    border-radius: 8px;
    margin-top: 5px;
}

.dialog label textarea {
    display: block;
    font-size: 1.2em;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 5px;
}

.dialog button {
    padding: 0px 30px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.dialog .conf-button {
	z-index: 1;
	margin: 0px 10px;
}

.dialog .title {
	background: #35459c;
	color: white;
	font-size: 1.25em;
	padding: 20px 0px 20px 40px;
	margin-bottom: 20px;
	border-bottom: 1px inset black;
}

.dialog p {
	margin: 5px 40px;
	color: white;
	opacity: 0.8;
	font-family: Arial;
	font-size: 1em;
}

.dialog .buttons {
	border-top: 1px inset black;
	background: #35459c;
	padding: 30px;
	margin-top: 20px;
}

