/* WORK SPACE */

/*
	!!! COLOR GUIDE !!!
	
	major-component-color: #35459c
	major-component-border: #999
	sub-component-color: #442e8f
	text-highlight: #fff
	text-value: #999		
	menu-color: #84449a
*/

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff"), url("../fonts/roboto-light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold.ttf") format("truetype"); }

body {
	font-family: Roboto, arial;
	min-width: 1200px;
	min-height: 800px;
	background-color: #642265;
	overflow: hidden;
	user-select: none;
}

.button-help {
	color: white;
	background: transparent;
	border: 1px solid white;
	border-radius: 10px;
	padding: 3px 6px;
	font-size: 0.6em;
	vertical-align: middle;
}

header {
	display: block;
	position: fixed;
	background: inherit;
	padding: 5px;
	margin-bottom: 20px;
	top: 0px;
	width: 100%;
	z-index: 10;
}

header .logo {
	margin: 40px 10px;
	vertical-align: middle;
}

header .title {
	display: block;
	position: fixed;
	top: 12px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	width: 420px;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	color: #fff;
	z-index: -1;
}

header .title .sub-title {
	display: block;
	margin: 10px 0px;
	font-size: 0.9em;
	text-transform: capitalize;
	white-space: nowrap;
}

header .toolbar {
	float: right;
	margin: 30px;
}

header .circuit-panel {
	margin: 0px 90px;
	white-space: nowrap;
	overflow-x: auto;
	padding-bottom: 8px;
}

header .circuit-panel .circuit-button {
    display:  inline-block;
    position: relative;
    border: 3px solid white;
    border-radius: 10px;
	background-color: #642265;
    font-size: 0.75em;
    color: white;
    margin: 0px 5px;
    cursor: pointer;
    text-align: center;
}

header .circuit-panel .circuit-button .drop-shadow {
	border: 3px solid transparent;
	border-radius: 10px;
}

header .circuit-panel .circuit-button .circuit-button-title {
	border: 1px solid;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 3px;
	bottom: 3px;
}

header .circuit-panel .circuit-button .circuit-button-specs {
	margin: 3px 7px;
}

header .circuit-panel .circuit-button .circuit-test-button {
	display: inline-block;
	position: relative;
	margin: 4px 0px;
	z-index: 1;
}

header .circuit-panel .circuit-button .circuit-test-button button {
	padding: 3px 20px;
	margin: 5px 0px;
	
}

header .circuit-panel .test-pass.test-temperature-cool button {
	color: black;
	background: #f4f2f2;	
}

header .circuit-panel .test-pass.test-temperature-neutral button {
	color: black;
	background: #faf8cf;	
}

header .circuit-panel .test-pass.test-temperature-warm button {
	color: black;
	background: #f6f193;	
}


header .circuit-panel .test-fail {
	background-color: red;	
	color: black;
}

.drop-shadow {
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: #180919;
    filter: blur(10px);
    z-index: -1;
}

.conf-button {
	display: inline-block;
	position: relative;
}

.conf-button .drop-shadow {
    left: -2px !important;
    top: -2px !important;
    width: calc(100% + 2px) !important;
    height: calc(100% + 2px) !important;
    border: 0px !important;
    border-radius: 0px !important;
}

.canvas {
	display: block;
	height: 100%;
	margin-top: 210px;
	overflow: hidden;
}

.canvas .work-table {
	min-height: 1000px;
	min-width: 5600px;
	padding: 50px 100px;
	overflow: visible;
  	transform-origin: 30px 30px;
}

.canvas .work-table .component {
	position: absolute;
}

.canvas .work-table .tile-row {
	white-space: nowrap;
}

.canvas .work-table .tile-slot {
	display: inline-block;
	position: relative;
	width: 252px;
	height: 252px;
	margin: 3px;
	border: 10px solid #4c4c4c;
	vertical-align: middle;
	border-radius: 4px;
}

.canvas .work-table .tile {
	position: relative;
	width: 252px;
	height: 252px;
	background-image: url(../img/tile/illumitile_252x252.png);
}

.canvas .work-table .tile .zone {
	position: absolute;
}

.canvas .work-table .tile .zone img {
	width: 190px;
	height: 25px;
}

.canvas .work-table .tile .right {
	top: 113px;
	right: -103px;
	width: 185px;
	height: 24px;
	z-index: 4;
}

.canvas .work-table .tile .bottom {
	bottom: 0px;
	width: 100%;
	height: 72px;
}

.canvas .work-table .tile .power {
	position: absolute;
	z-index: 5;
}

.canvas .work-table .tile .power-top {
	left: 77px;
}

.canvas .work-table .tile .power-bottom {
	bottom: -163px;
}

.canvas .work-table .tile .power-down {
	top: -719px;
}

.canvas .work-table .tile .power-up {
	bottom: -690px;
	left: 83px;
}

.canvas .work-table .tile .power-center {
	top: 81px;	
}

.canvas .work-table .tile .power-left {
	left: -697px;
}

.canvas .work-table .tile .power-right {
	right: -698px;
	top: 71px;
}

.tile .bottom img {
	position: absolute;
	transform: rotate(90deg);
	left: 31px;
	top: 72px;
}

.canvas .work-table .test-pass, .canvas .work-table .test-fail {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 26px;
	top: -26px;
	left: -26px;
	z-index: 4;
}

.canvas .work-table .tile-temperature-neutral {
	background: url(/assets/img/glow/neutral.png) center no-repeat;	
	opacity: 0.8;
}

.canvas .work-table .tile-temperature-cool {
	background: url(/assets/img/glow/cool.png) center no-repeat;	
	opacity: 0.8;
}

.canvas .work-table .tile-temperature-warm {
	background: url(/assets/img/glow/warm.png) center no-repeat;	
	opacity: 0.8;
}

.canvas .work-table .test-fail {
	background: url(/assets/img/glow/fail.png) center no-repeat;	
}

.main-toolbar {
	position: fixed;
	top: 265px;
	left: 20px;
	z-index: 10;
	padding: 5px 4px 5px 3px;
}

.main-toolbar .content-body {
	width: 40px;
	border: 2px solid #999;
	border-radius: 8px;
	text-align: center;
	background-color: #642265;
}

.main-toolbar .icon-search {
	position: relative;
}

.main-toolbar .icon-search-plus:after {
	position: absolute;
	content: "+";
	vertical-align: super;
	font-size: 0.6em;
	top: -1px;
}

.main-toolbar .icon-search-minus:after {
	position: absolute;
	content: "-";
	vertical-align: super;
	font-size: 0.6em;
	top: -5px;
}

.main-toolbar .button-place {
	display: inline-block;
	margin: 8px 0px;
	width: 33px;
	height: 33px;
}

.main-toolbar button {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	font-size: 1.5em;
	line-height: 1.4;
	text-align: center;
	color: white;
	background-color: transparent;
	border: 0px;
	cursor: pointer;
	padding: 0px;
}

.main-toolbar .button-rotate {
	transform: rotate(45deg)
}

.main-toolbar .button-active {
	background: #84449a;
	color: white;
	border-radius: 5px;
}

.highlight {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: yellow;
	opacity: 0.6;
	z-index: 5;
}

.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: grey;
	opacity: 0.6;
	z-index: 5;
}

footer {
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: #2a41a0;
	color: #fff;
	font-size: 0.9em;
	z-index: 5;
}

footer .alpha {
    position: absolute;
    width: 100%;
    height: 92px;
    top: -92px;
    left: 0px;
    background: linear-gradient(0deg, rgba(42,65,160,1) 0%, rgba(42,65,160,1) 0%, rgba(42,65,160,0) 100%);
}

footer .footer-handle {
	position: absolute;
	display: inline-block;
	top: -64px;
	right: 50px;
	padding: 5px;
	color: #fff;
	background-color: #35459c;
	border: 3px solid grey;
	border-radius: 5px;
}

footer .tools {
	position: absolute;
	top: -90px;
	left: 50%;
	margin-left: -190px;
}

footer .tools .content-body {
	padding: 10px 0px;
	border: 2px solid #999;
	border-radius: 8px;
	background-color: #442e8f;
}

footer .tools .overlay {
	border-radius: 6px;
}

footer .tools .section:first-child {
	border: 0px;
}

footer .tools .section {
	display: inline-block;
	margin-right: 10px;
	padding-left: 10px;
	border-left: 2px solid white;
}

footer .tools .tool-button {
	display: inline-block;
	height: 40px;
	min-width: 32px;
	padding: 0px 4px;
	margin: 0px 5px;
	vertical-align: middle;
	font-size: 1.5em;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 8px;
}

footer .tools .tool-button img {
	vertical-align: middle;	
}

footer .tools .tool-button .helper {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

footer .tools .button-disabled {
	opacity: 0.6;
}

footer section {
	margin: 0px 15px;
}

footer section h1 {
	font-size: 1.25em;
	text-transform: uppercase;
	color: white;
	margin: 0px;
}

footer section .title {
	font-weight: bold;
}

footer section .instructions {
	display: none;
	margin-top: 20px;
	max-width: 520px;
}

footer section p {
	margin: 0px;
}

footer section .setting {
	color: white;
	font-weight: bold;
	margin: 2px 0px;
}

footer section .value {
	color: #fff;
	font-weight: normal;
}

footer .components {
	width: 420px;
}

footer .components .item-table {
	margin-bottom: 20px;
}

footer .components .buttons {
	display: flex;
	justify-content: space-between;
	margin: 10px 0px;
}

select {
	background-color: #84449a;
	color: #fff;
}

.button-main, .button-secondary {
	background-color: #642265;
	color: #fff;
	border: 1px solid transparent;
	cursor: pointer;
	font-size: 1em;
}

.button-secondary {
	background-color: grey;
}

footer .temperature {
	margin-bottom: 10px;
}

footer .specs {
	position: relative;
	font-size: 1.25em;
}

.item-table {
	width: 100%;
	color: white;
}

.item-table thead tr {
	background-color: #642265;
	border-radius: 6px;
}

.item-table th {
	text-align: left;
	font-weight: normal;
	border-left: 1px solid white;
}

.item-table th, .item-table td {
	padding: 0px 10px;
}

.item-table th:first-child {
	border: 0px;
}

.item-table td:last-child {
	text-align: center;
}

.specs .setting button {
	margin-left: 5px;
}

.dialog {
	display: none;
	position: absolute;
    width: 600px;
    top: 220px;
    left: 350px;
    z-index: 10;
}

.dialog .content-body {
	background: #642265;
    border: 6px solid white;
    border-radius: 8px;
    width: 600px;
}

.dialog .drop-shadow {
    border-radius: 6px;
    border: 6px solid transparent;
    left: -2px;
    top: -4px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}

.dialog label {
    display: block;
    font-size: 1em;
    color: white;
    margin: 20px 40px;
    font-weight: 300;
}

.dialog label input[type=text] {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
    border-radius: 8px;
    margin-top: 5px;
}

.dialog label textarea {
    display: block;
    font-size: 1.2em;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 5px;
}

.dialog button {
    padding: 0px 30px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.dialog .conf-button {
	z-index: 1;
	margin: 0px 10px;
}

.wizard {
	padding: 0px;
}

.dialog .title {
	background: #35459c;
	color: white;
	font-size: 1.25em;
	padding: 20px 0px 20px 40px;
	margin-bottom: 20px;
	border-bottom: 1px inset black;
}

.wizard-field {
	color: white;
	font-size: 1.25em;
	font-weight: bold;
	margin: 20px;
}

.wizard-field .field {
	background-color: #666;
	padding: 3px;
	border: 1px solid #fff;
	margin: 5px;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	width: 	40px;
	margin-right: -3px;
	text-align: center;
}

.wizard p, .mobile-block p {
	margin: 5px 40px;
	color: white;
	opacity: 0.8;
	font-family: Arial;
	font-size: 1em;
}

.dialog p {
	margin: 5px 40px;
	color: white;
	opacity: 0.8;
	font-family: Arial;
	font-size: 1em;
}

.dialog .buttons {
	border-top: 1px inset black;
	background: #35459c;
	padding: 30px;
	margin-top: 20px;
}

.openProject .content-body {
	overflow: hidden;
}

.openProject .project-list {
	margin-top: 28px;
	margin-bottom: 23px;
	color: white;
	height: 210px;
	overflow-y: auto;
	width: 103%;
}

.openProject .project-item {
	position: relative;
	background: #7b2b7f;
	margin: 9px 0px;
	padding: 5px 0px;
}

.openProject .project-item:hover {
	background: #84449a;	
}

.openProject .project-item:first-child {
	margin: 0px;
}

.openProject .project-item .project-info {
	cursor: pointer;
}

.openProject .project-item label, .openProject .project-item p {
	max-width: calc(60% - 20px);	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.openProject .project-item label {
	margin: 0px 40px;
	font-weight: normal;
	cursor: inherit;
}

.openProject .project-item p {
	font-size: 0.75em;
	opacity: 1;
}

.openProject .project-item .action-panel {
	display: block;
	position: absolute;
	top: 12px;
	right: 30px;
}

.openProject .project-item .action-panel button {
	display: inline-block;
	width: 26px;
	height: 26px;
	padding: 0px;
	color: white;
	background: transparent;
	border: 1px solid white;
	border-radius: 14px;
	font-size: 1em;
	cursor: pointer;
	vertical-align: middle;
	margin: 0px 5px;
}

.openProject .project-item .action-panel .open {
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 6px;
    font-size: 0.8em;
}

.openProject .button-navigation {
    position: absolute;
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 6px;
    right: 33px;
}

.openProject .ion-arrow-up-b {
    top: 74px;
}

.openProject .ion-arrow-down-b {
    bottom: 84px;
}

.saveProject label {
	padding-left: 5px;
}

.saveProject input, .saveProject textarea {
	display: block;
    background: #532059;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-left:  -5px;
}

img.gu-transit {
	display: block;
	visibility: hidden;
}

.mobile-block {
	position: relative;
	top: 0px;
	left: 0px;
	width: auto;
}

.mobile-block .logo {
	width: 100%;
}

.mobile-block .title {
	text-align: center;
}

.mobile-block p {
	text-align: left;
	position: relative;
	width: 80%;
	margin: 50px auto;
	font-size: 1.25em;
}


@media screen and (min-width: 320px) {
	body {
		min-width: 0px;
	}
	
	header, .canvas, .main-toolbar, footer  {
		display: none;
	}
	
	.dialog {
		visibility: hidden;
	}
	
	.mobile-block {
		display: block;
		visibility: visible;
	}
}

@media screen and (min-width: 1200px) {
	body {
		min-width: 1200px;
	}
	
	header, .canvas, .main-toolbar  {
		display: block;
	}
	
	footer {
		display: flex;
	}
	
	.dialog {
		visibility: visible;
	}
	
	.mobile-block {
		display: none;
	}
}

