.account form {
    position: relative;
    border: 10px solid white;
    border-radius: 8px;
    padding: 10px;
    width: 600px;
    margin: 0px auto;
}

.account form label {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    margin: 20px;
}

.account form label input {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 5px;
}

.account form button {
    background: blue;
    color: yellow;
    font-weight: bold;
    font-size: 1.5em;
    border: 1px solid white;
    padding: 5px;
    margin: 0px 20px;
}