@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff"), url("../fonts/roboto-light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold.ttf") format("truetype"); }

body {
	font-family: Roboto, arial;
	min-width: 1200px;
	min-height: 800px;
	background-color: #303c3c;
}

header {
	display: block;
	position: relative;
	padding: 5px;
	margin-bottom: 20px;
}

header .logo {
	width: 320px;
	margin-right: 10px;
	vertical-align: middle;
}

header .title {
	display: block;
	position: fixed;
	top: 12px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	text-align: center;
	font-weight: bold;
	color: #fff;
	z-index: -1;
}

header .toolbar {
	float: right;
}

.canvas {
	background: #3d3d3d;
	display: block;
	height: 100%;
}

.canvas .work-table {
	position: relative;
	min-height: 1000px;
	padding-left: 100px;
}

.canvas .work-table .component {
	position: absolute;
}

.canvas .work-table .tile-slot {
	display: inline-block;
	width: 252px;
	height: 252px;
	margin: 13px;
}

.canvas .work-table .tile {
	position: relative;
	width: 252px;
	height: 252px;
	background-image: url(../img/tile/illumitile_252x252.png);
}

.canvas .work-table .tile .zone {
	position: absolute;
}

.canvas .work-table .tile .right {
	top: 113px;
	right: -50px;
	width: 125px;
	height: 24px;
}

.canvas .work-table .tile .bottom {
	bottom: 50px;
	width: 100%;
	height: 24px;
}

.tile .bottom img {
	position: absolute;
	transform: rotate(90deg);
	left: 35px;
	top: 78px;
}

.main-toolbar {
	position: absolute;
	top: 250px;
	left: 20px;
	padding: 10px;
	border: 3px solid white;
	border-radius: 8px;
	text-align: center;
	width: 32px;
	z-index: 5;
	background: top left repeat-x url(../img/gradient.png);
}

.main-toolbar button {
	display: inline-block;
	margin: 8px 0px;
	font-size: 1.5em;
	color: white;
	background-color: transparent;
	border: 0px;
	cursor: pointer;
}

.highlight {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: yellow;
	opacity: 0.6;
	z-index: 5;
}

footer {
	display: flex;
	justify-content: space-evenly;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: #2002fe;
	color: #fff;
	font-size: 0.9em;
	padding: 20px;
	z-index: 5;
}

footer .footer-handle {
	position: absolute;
	display: inline-block;
	top: -15px;
	right: 50px;
	padding: 5px;
	color: #fff;
	background-color: #2002fe;
	border: 3px solid grey;
	border-radius: 5px;
}

footer .tools {
	position: absolute;
	top: -70px;
	padding: 10px;
	border: 3px solid #fff;
	border-radius: 8px;
	background: top left repeat-x url(../img/gradient.png);
}

footer .tools .tool-button {
	display: inline-block;
	padding: 5px;
	margin: 0px 5px;
	vertical-align: middle;
	font-size: 1.5em;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 8px;
}

footer section {
	margin: 0px 15px;
}

footer section h1 {
	font-size: 1.25em;
	text-transform: uppercase;
	color: yellow;
}

footer section .title {
	font-weight: bold;
	color: yellow;
}

footer section .instructions {
	margin-top: 20px;
}

footer section p {
	margin: 0px;
}

footer section .setting {
	font-weight: bold;
	margin: 2px 0px;
}

footer section .field {
	background-color: #666;
	padding: 3px;
	border: 1px solid #fff;
	margin: 5px;
}

footer section .value {
	color: yellow;
}

footer section select {
	background-color: lightblue;
	color: yellow;
}

footer .temperature {
	margin-bottom: 10px;
}

footer .specs {
	font-size: 1.5em;
}

.dialog {
	display: none;
	position: absolute;
	background: blue;
    border: 10px solid white;
    border-radius: 8px;
    padding: 10px;
    width: 600px;
    top: 100px;
    left: 350px;
    z-index: 5;
}

.dialog label {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    margin: 20px;
}

.dialog label input {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
    border-radius: 8px;
    margin-top: 5px;
}

.dialog label textarea {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    border: 1px solid white;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 5px;
}

.dialog button {
    background: gray;
    color: yellow;
    font-weight: bold;
    font-size: 1.5em;
    border: 1px solid white;
    padding: 5px;
    margin: 0px 20px;
}

.openProject .project-list {
	padding: 10px;
	margin: 20px;
	font-weight: normal;
	background-color: white;
	max-height: 200px;
	overflow-y: auto;
}

.openProject .project-list div {
	margin: 5px 0px;
}

.openProject .project-list a {
	display: block;
	font-weight: bold;
	font-size: 1.25em;
	color: black;
}